{
    "ipServer": "uatu.citic.udc.es",
    "urlZabbixAPI": "api_jsonrpc.php",
    "urlConfigurationFiles": "",
    "encryptedUser": "EnkYmEu3jVauYSDr94tVzq4Dz8EvzCdTsnKe/lUStSk0SgNULhNxCrZCpGj5LB90m7SfaCTnnGZje71ieo7IzeG7NIFzSzOHaJnJ6MRLjAPBa2csPqm4iL/EZlZTBPxz",
    "encryptedPass": "S9f+RTwgaBduIpTiQKCWOBzpDFmsTJxYPpYQ7J4vPgnwAC7sUvOw/FFq6YOedM6DOkGVGrplg7CQw5rd+gBIJkduOHrO60YI9w9YbGtXQOZqmbTDQZwqPoryZOBE8/Ee"
}